<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.questionnaire.mapper.TbqueNaireDetailsMapper">
    
    <resultMap type="TbqueNaireDetails" id="TbqueNaireDetailsResult">
        <result property="id"    column="id"    />
        <result property="queNaire"    column="que_naire"    />
        <result property="queType"    column="que_type"    />
        <result property="content"    column="content"    />
        <result property="required"    column="required"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbqueNaireDetailsVo">
        select id, que_naire, que_type, content, required, create_user, create_time, update_time, remark from tbque_naire_details
    </sql>

    <select id="selectTbqueNaireDetailsList" parameterType="TbqueNaireDetails" resultMap="TbqueNaireDetailsResult">
        <include refid="selectTbqueNaireDetailsVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="queNaire != null  and queNaire != ''"> and que_naire = #{queNaire}</if>
            <if test="queType != null  and queType != ''"> and que_type = #{queType}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="required != null  and required != ''"> and required = #{required}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>
    
    <select id="selectTbqueNaireDetailsById" parameterType="Long" resultMap="TbqueNaireDetailsResult">
        <include refid="selectTbqueNaireDetailsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbqueNaireDetails" parameterType="TbqueNaireDetails" useGeneratedKeys="true" keyProperty="id">
        insert into tbque_naire_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="queNaire != null">que_naire,</if>
            <if test="queType != null">que_type,</if>
            <if test="content != null">content,</if>
            <if test="required != null">required,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="queNaire != null">#{queNaire},</if>
            <if test="queType != null">#{queType},</if>
            <if test="content != null">#{content},</if>
            <if test="required != null">#{required},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbqueNaireDetails" parameterType="TbqueNaireDetails">
        update tbque_naire_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="queNaire != null">que_naire = #{queNaire},</if>
            <if test="queType != null">que_type = #{queType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="required != null">required = #{required},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbqueNaireDetailsById" parameterType="Long">
        delete from tbque_naire_details where id = #{id}
    </delete>

    <delete id="deleteTbqueNaireDetailsByIds" parameterType="String">
        delete from tbque_naire_details where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTbqueNaireDetailsByNaireId">
        delete from tbque_naire_details where que_naire in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>