<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.questionnaire.mapper.TbqueNaireRecodeMapper">
    
    <resultMap type="TbqueNaireRecode" id="TbqueNaireRecodeResult">
        <result property="id"    column="id"    />
        <result property="queNaire"    column="que_naire"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbqueNaireRecodeVo">
        select id, que_naire, create_user, create_time, update_time, remark from tbque_naire_recode
    </sql>

    <select id="selectTbqueNaireRecodeList" parameterType="TbqueNaireRecode" resultMap="TbqueNaireRecodeResult">
        select
            t1.id,
            t2.title que_naire,
            t1.create_user,
            t1.create_time,
            t1.update_time,
            t1.remark
        from tbque_naire_recode t1
        left join tbque_naire t2
        on t1.que_naire = t2.id
        <where>  
            <if test="queNaire != null  and queNaire != ''"> and t2.title = #{queNaire}</if>
            <if test="createUser != null  and createUser != ''"> and t1.create_user = #{createUser}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and t1.create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectTbqueNaireRecodeById" resultMap="TbqueNaireRecodeResult">
        select
            t1.id,
            t2.title que_naire,
            t1.create_user,
            t1.create_time,
            t1.update_time,
            t1.remark
        from tbque_naire_recode t1
                 left join tbque_naire t2
                           on t1.que_naire = t2.id
        where t1.id = #{id}
    </select>
        
    <insert id="insertTbqueNaireRecode" parameterType="TbqueNaireRecode" useGeneratedKeys="true" keyProperty="id">
        insert into tbque_naire_recode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="queNaire != null">que_naire,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="queNaire != null">#{queNaire},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbqueNaireRecode" parameterType="TbqueNaireRecode">
        update tbque_naire_recode
        <trim prefix="SET" suffixOverrides=",">
            <if test="queNaire != null">que_naire = #{queNaire},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbqueNaireRecodeById" parameterType="Long">
        delete from tbque_naire_recode where id = #{id}
    </delete>

    <delete id="deleteTbqueNaireRecodeByIds" parameterType="String">
        delete from tbque_naire_recode where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>