<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('八六三软件-评估测试')"/>
    <style>
        .title {
            text-align: center;
        }

        .que_box .que {
            margin: 0 0 20px 0;
            overflow: auto;
        }

        .que_box .que .break {
            white-space: normal;
            word-break: break-all;
        }

        .save {
            width: 100%;
            margin-bottom: 50px;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content" th:if="${uuid == null || uuid == ''}">
    <h1 style="text-align: center">问卷已结束！</h1>
</div>
<div class="wrapper wrapper-content animated fadeInRight ibox-content" th:if="${uuid != null && uuid != ''}">
    <form class="form-horizontal m" id="form-recode-add">
        <input type="hidden" name="id" th:value="${uuid}">
        <input type="hidden" name="queNaire" th:value="${tbqueNaire.id}">
        <div class="col-xs-12" style="padding: 0">
            <div class="col-xs-12 title" th:object="${tbqueNaire}">
                <h1 th:text="*{title}">问卷标题xxxxxx</h1>
                <p th:text="*{remark}" style="color: red;">问卷的备注信息</p>
            </div>

            <div class="col-xs-12 que_box">
                <div class="form-group" th:if="${#strings.equals(tbqueNaire.anonymous, '实名')}">
                    <label class="col-xs-12 control-label is-required" style="text-align: left" >姓名：</label>
                    <div class="col-xs-12" >
                        <input class="form-control" name="createUser" placeholder="请输入真实姓名" required/>
                    </div>
                </div>
                <div class="form-group" th:each="detail,stat:${detailList}">
                    <input type="hidden" class="q-id" th:name="|resultList[${stat.index}].queNaire|" th:value="${uuid}">
                    <input type="hidden" class="q-id" th:name="|resultList[${stat.index}].queContent|" th:value="${detail.content}">


                    <!-- 题目名称 -->
                    <label class="col-xs-12 control-label is-required" style="text-align: left"
                           th:text="|${stat.count}、${detail.params.title}|"
                           th:if="${detail.required == '1'}">问卷标识：</label>
                    <label class="col-xs-12 control-label" style="text-align: left"
                           th:text="|${stat.count}、${detail.params.title}|"
                           th:if="${detail.required != '1'}">问卷标识：</label>


                    <!-- 题目选项 -->
                    <div class="col-xs-12" th:if="${detail.queType == '1' || detail.queType == '3'}"
                         th:each="opt,status:${detail.params.opts}">
                        <label class="radio-box" style="width:100%">
                            <input type="radio" th:id="|q_id_${detail.id}|" th:name="|resultList[${stat.index}].answer|"
                                   th:value="${opt}" th:if="${detail.required == '1'}" required>
                            <input type="radio" th:id="|q_id_${detail.id}|" th:name="|resultList[${stat.index}].answer|"
                                   th:value="${opt}" th:if="${detail.required != '1'}">
                            <span th:text="${opt}">选项1</span>
                        </label>
                    </div>

                    <div class="col-xs-12" th:if="${detail.queType == '2'}" th:each="opt,status:${detail.params.opts}">
                        <label class="check-box" style="width:100%">
                            <input type="checkbox" th:id="|q_id_${detail.id}|"
                                   th:name="|resultList[${stat.index}].answer|" th:value="${opt}"
                                   th:if="${detail.required == '1'}" required>
                            <input type="checkbox" th:id="|q_id_${detail.id}|"
                                   th:name="|resultList[${stat.index}].answer|" th:value="${opt}"
                                   th:if="${detail.required != '1'}">
                            <span th:text="${opt}">选项1</span>
                        </label>
                    </div>

                    <div class="col-xs-12" th:if="${detail.queType == '4'}">
                        <textarea class="form-control" th:name="|resultList[${stat.index}].answer|" th:if="${detail.required == '1'}" required></textarea>
                        <textarea class="form-control" th:name="|resultList[${stat.index}].answer|" th:if="${detail.required != '1'}"></textarea>
                    </div>

                    <div class="col-xs-12" th:if="${detail.queType == '5'}">
                        <select class="form-control" th:if="${detail.required == '1'}" requiredt
                                th:name="|resultList[${stat.index}].answer|">
                            <option value="">---请选择---</option>
                            <option value="" th:each="opt,status:${detail.params.opts}" th:value="${opt}"
                                    th:text="${opt}">选项1
                            </option>
                        </select>
                        <select class="form-control" th:if="${detail.required != '1'}"
                                th:name="|resultList[${stat.index}].answer|">
                            <option value="">---请选择---</option>
                            <option value="" th:each="opt,status:${detail.params.opts}" th:value="${opt}"
                                    th:text="${opt}">选项1
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <a href="javascript:void(0)" class="btn btn-success save" onclick="submitHandler()">提交问卷</a>
            </div>
        </div>
    </form>
    <th:block th:include="include :: footer"/>
    <script th:inline="javascript">
        var prefix = ctx + "questionnaire/recode"
        $(function () {
        });
        $("#form-recode-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-recode-add').serialize(), function(data){
                    console.log(data);
                    if(data.code == 0){
                        $(".ibox-content").html('<h1 style="text-align: center">感谢参与问卷调查！</h1>');
                        alert("感谢参与问卷调查！");
                    }
                    window.close();
                });
            }
        }
    </script>
</div>
</body>
</html>